p {
  text-align: center; 
  font-size: 30px;
  color: Black;
  background: linear-gradient(90,#ffffff, #ffffcc);
  }
 

h2 {
  text-align:center; 
  font-size: 60px;
  color: AntiqueWhite;
  background: linear-gradient(90,#ffffff, #ffffcc);
  }
 

  
  
