p {
  text-align: center; 
  font-size: 30px;
  color: Black;
  }
 

h2 {
  text-align:center; 
  font-size: 60px;
  color: AntiqueWhite;
  }
body {
    background: linear-gradient(to bottom, #ffffcc 21%, #009999 100%);
    }
